* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ---NAVBAR--- */
.navbar {
  background-color: #440001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

}

.nav-links li a.active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.register-btn {
  background: #fff;
  color: #440001;
  border: none;
  padding: 8px 14px 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.arrow-circle {
  background: #440001;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.register-btn:hover .arrow-circle {
  transform: translateX(3px);
  transition: 0.2s ease;
}

/* ---HERO SECTION--- */
.banner-section {
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  height: 495px;
  background: url("Images/banner.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  max-width: 1200px;
}

.banner-content h1 {
  white-space: nowrap;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}

.banner-content p {
  max-width: 905px;
  font-size: 15px;
  line-height: 1.5;
}

/* ---Services--- */
.treatments-section {
  padding: 0 60px 60px;
  text-align: center;
}

.services-tag {
  color: #9C0001;
  font-size: 15px;
  font-weight: 600;
}

.treatments-header h2 {
  font-size: 32px;
  font-weight: 800;
  margin: 8px 0 14px;
}

.treatments-desc {
  max-width: 1070px;
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 1.9;
  color: #333;
}

.treatment-filters {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 40px;
}

.filter-btn {
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 14px;
}

.filter-btn.active {
  background: #440001;
  color: #fff;
  border-radius: 20px;
}

.treatments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.treatment-card {
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
}

.card-overlay h3 {
  font-size: 25px;
  font-weight: 700;
  white-space: nowrap;
}

.arrow {
  font-size: 18px;
  display: block;
  margin-top: 6px;
}

.center-card {
  background: #9C0001;
  color: #fff;
  padding: 24px;
  text-align: center;
}

.center-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.center-card p {
  font-size: 14px;
  line-height: 1.4;
}

.show-all-wrapper {
  margin-top: 50px;
}

.show-all-btn {
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.circle-arrow {
  background: #fff;
  color: #9C0001;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---HEALTH--- */
.health-service-section {
  padding: 60px;
  background: #fff;
}

.health-card {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.health-content {
  width: 55%;
  background: #9C0001;
  padding: 60px;
  color: #fff;
}

.health-tag {
  font-size: 13px;
  opacity: 0.9;
  display: inline-block;
  margin-bottom: 18px;
}

.health-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 20px;
}

.health-desc {
  font-size: 14px;
  line-height: 1.8;
  max-width: 460px;
  margin-bottom: 32px;
  opacity: 0.95;
}

.health-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 12px 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.btn-arrow {
  background: #9C0001;
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.health-image {
  width: 45%;
}

.health-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---FOOTER--- */
.site-footer {
  background: #440001;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.site-footer::before,
.site-footer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #9C0001;
  z-index: 0;
}

.site-footer::before {
  width: 325px;
  height: 325px;
  top: -140px;
  right: -140px;
}

.site-footer::after {
  width: 325px;
  height: 325px;
  bottom: -130px;
  left: -130px;
}

.site-footer>* {
  position: relative;
  z-index: 1;
}

.footer-top {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.footer-logo img {
  height: 50px;
}

.footer-logo span {
  display: block;
  color: #ffc107;
  font-weight: 600;
  margin-top: 4px;
}

.footer-desc {
  margin: 20px auto 40px;
  line-height: 1.5;
  max-width: 910px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.contact-item {
  display: flex;
  gap: 14px;
  align-items: center;
  text-align: left;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-circle img {
  height: 22px;
  width: 22px;
}

.footer-divider1 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

.footer-divider2 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 40px 50px 10px;
}

.footer-middle {
  padding: 0 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-col h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-col ul {
  margin-left: 15px;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-map img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}

.footer-bottom {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  margin-right: 14px;
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .navbar {
    padding: 15px 20px;
    flex-wrap: wrap;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-top: 15px;
  }

  .nav-links li a {
    display: inline-block;
    width: fit-content;
    font-size: 16px;
  }

  .nav-links li a.active {
    border-bottom: 2px solid #fff;
  }

  .banner-section {
    height: 260px;
    margin-bottom: 40px;
  }

  .banner-content {
    padding: 0 16px;
  }

  .banner-content h1 {
    white-space: normal;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .banner-content p {
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .treatments-grid {
    grid-template-columns: 1fr !important;
    gap: 25px;
  }

  .treatment-card {
    height: auto;
  }

  .treatment-filters {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter-btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  .health-card {
    flex-direction: column;
  }

  .health-content,
  .health-image {
    width: 100%;
  }

  .health-content {
    padding: 30px 20px;
  }

  .health-title {
    font-size: 24px;
  }

  .health-desc {
    max-width: 100%;
  }

  .footer-contacts {
    flex-direction: column;
    gap: 20px;
  }

  .footer-middle {
    flex-direction: column;
    gap: 30px;
  }

  .footer-map img {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}



@media (max-width: 1024px) {

  section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .banner-section {
    height: 360px;
  }

  .banner-content h1 {
    font-size: 30px;
    white-space: normal;
  }

  .treatments-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .health-card {
    flex-direction: column;
  }

  .health-content,
  .health-image {
    width: 100%;
  }
}