* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* ---NAVBAR--- */
.navbar {
  background-color: #440001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

}

.nav-links li a.active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.register-btn {
  background: #fff;
  color: #440001;
  border: none;
  padding: 8px 14px 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.arrow-circle {
  background: #440001;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.register-btn:hover .arrow-circle {
  transform: translateX(3px);
  transition: 0.2s ease;
}

/* ---BANNER---*/
.blogs-banner {
  position: relative;
  width: 100%;
  height: 495px;
  background: url("Images/banner.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.blogs-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  max-width: 945px;
  padding: 0 20px;
}

.blogs-content h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 14px;
}

.blogs-content p {
  font-size: 15px;
  line-height: 1.5;
}

/* ---POPULAR--- */
.popular-topics {
  padding: 80px 60px;
  background: #fff;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.topics-header h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.topics-filters {
  display: flex;
  gap: 18px;
  font-size: 14px;
}

.topics-filters span {
  cursor: pointer;
  color: #555;
}

.topics-filters .active {
  color: #9C0001;
  font-weight: 600;
}

.view-all-btn {
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.topic-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.topic-card img {
  width: 100%;
  height: 327px;
  object-fit: cover;
}

.topic-content {
  padding: 18px;
}

.topic-date {
  font-size: 12px;
  color: #888;
  display: block;
  margin-bottom: 8px;
}

.topic-content h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
}

.topic-content p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #555;
}

/* ---FOOTER--- */
.site-footer {
  background: #440001;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.site-footer::before,
.site-footer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #9C0001;
  z-index: 0;
}

.site-footer::before {
  width: 325px;
  height: 325px;
  top: -140px;
  right: -140px;
}

.site-footer::after {
  width: 325px;
  height: 325px;
  bottom: -130px;
  left: -130px;
}

.site-footer>* {
  position: relative;
  z-index: 1;
}

.footer-top {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.footer-logo img {
  height: 50px;
}

.footer-logo span {
  display: block;
  color: #ffc107;
  font-weight: 600;
  margin-top: 4px;
}

.footer-desc {
  margin: 20px auto 40px;
  line-height: 1.5;
  max-width: 910px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.contact-item {
  display: flex;
  gap: 14px;
  align-items: center;
  text-align: left;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-circle img {
  height: 22px;
  width: 22px;
}

.footer-divider1 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

.footer-divider2 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 40px 50px 10px;
}

.footer-middle {
  padding: 0 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-col h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-col ul {
  margin-left: 15px;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-map img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}

.footer-bottom {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  margin-right: 14px;
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .navbar {
    padding: 15px 20px;
    flex-wrap: wrap;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
  }

  .nav-links li a {
    display: inline-block;
    width: fit-content;
    font-size: 16px;
  }

  .nav-links li a.active {
    border-bottom: 2px solid #fff;
  }

  .blogs-banner {
    height: 260px;
  }

  .blogs-content h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .blogs-content p {
    font-size: 12px;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .topics-header {
    flex-direction: column;
    gap: 20px;
  }

  .topics-filters {
    flex-wrap: wrap;
    gap: 12px;
  }

  .view-all-btn {
    align-self: flex-start;
  }

  .topics-grid {
    grid-template-columns: 1fr !important;
    gap: 25px;
  }

  .topic-card img {
    height: 220px;
  }

  .topic-content h3 {
    font-size: 18px;
  }

  .footer-contacts {
    flex-direction: column;
    gap: 20px;
  }

  .footer-middle {
    flex-direction: column;
    gap: 30px;
  }

  .footer-map img {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

@media (max-width: 1024px) {

  section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .blogs-banner {
    height: 360px;
  }

  .blogs-content h1 {
    font-size: 30px;
  }

  .topics-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .topics-header {
    flex-direction: column;
    gap: 20px;
  }
}