* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ---NAVBAR--- */
.navbar {
  background-color: #440001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

}

.nav-links li a.active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.register-btn {
  background: #fff;
  color: #440001;
  border: none;
  padding: 8px 14px 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.arrow-circle {
  background: #440001;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.register-btn:hover .arrow-circle {
  transform: translateX(3px);
  transition: 0.2s ease;
}

/* ---HERO BANNER--- */

.hero-banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 40px;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.hero-content {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.8;
  max-width: 820px;
  opacity: 0.95;
}

/* ---ABOUT US CONTENT--- */

.about-hero {
  position: relative;
  padding: 40px 0px;
  background: #fff;
}

.about-decor {
  position: absolute;
  right: 0px;
  z-index: 0;
}

.about-decor img {
  height: 260px;
  width: 180px;
}

.about-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about-label {
  font-size: 13px;
  color: #9C0001;
  font-weight: 600;
}

.about-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  margin: 16px 0 12px;
}

.about-underline {
  display: block;
  width: 60px;
  height: 3px;
  background: #9C0001;
  margin: 0 auto 24px;
}

.about-desc {
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  max-width: 1100px;
  margin: 0 0 30px;
}

.about-read-btn {
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* ---WHAT DO--- */

.what-we-do {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 60px;
}

.what-content {
  width: 60%;
}

.what-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #9C0001;
  margin-bottom: 16px;
}

.tag-line {
  width: 30px;
  height: 2px;
  background: #9C0001;
}

.what-title {
  white-space: nowrap;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.what-desc {
  font-size: 14px;
  line-height: 1.9;
  color: #444;
  max-width: 520px;
  margin-bottom: 30px;
}

.what-btn {
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.what-image {
  width: 45%;
}

.what-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* ---WHAT OFFER--- */

.what-we-offer {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 80px 60px;
}

.offer-image {
  width: 45%;
}

.offer-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.offer-content {
  width: 55%;
}

.offer-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #9C0001;
  margin-bottom: 16px;
}

.offer-line {
  width: 30px;
  height: 2px;
  background: #9C0001;
}

.offer-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 20px;
}

.offer-desc {
  font-size: 14px;
  line-height: 1.9;
  color: #444;
  max-width: 520px;
  margin-bottom: 30px;
}

.offer-btn {
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* ---CHOOSE US--- */
.why-choose-us {
  padding: 0 40px 40px;
  background: #fff;
}

.why-header {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 60px;
}

.why-tag {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: #9C0001;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.why-line {
  width: 30px;
  height: 2px;
  background: #9C0001;
}

.why-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 16px;
}

.why-subtitle {
  font-size: 14px;
  line-height: 1.8;
  color: #555;
}

.why-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.why-features {
  width: 55%;
}

.feature-item {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.feature-icon {
  width: 52px;
  height: 52px;
  background: #9C0001;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.feature-icon img {
  width: 26px;
  height: 26px;
}

.feature-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.feature-text p {
  font-size: 14px;
  line-height: 1.7;
  color: #555;
}

.why-image {
  width: 45%;
}

.why-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* ---COMMUNITY--- */
.community-section {
  padding: 40px;
  background: #fff;
}

.community-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
}

.community-tag {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: #9C0001;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.community-line {
  width: 30px;
  height: 2px;
  background: #9C0001;
}

.community-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 12px;
}

.community-subtitle {
  font-size: 14px;
  color: #555;
  line-height: 1.8;
}

.community-row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}

.para-gap {
  display: block;
  height: 14px;
}

.community-image {
  width: 45%;
}

.community-image img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.community-content {
  width: 55%;
}

.community-content h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 14px;
}

.community-content p {
  font-size: 15px;
  line-height: 1.3;
  color: #444;
  max-width: 620px;
  margin-bottom: 60px;
}

.community-btn {
  margin-top: 30px;
  background: #9C0001;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* ---FAQ SECTION--- */
.faq-section {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 60px;
  background: #fff;
}

.faq-left {
  width: 55%;
}

.faq-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9C0001;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.faq-line {
  width: 30px;
  height: 2px;
  background: #9C0001;
}

.faq-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 30px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq-item {
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  overflow: hidden;
}

.faq-question {
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.faq-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #9C0001;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.faq-item.active .faq-question {
  background: #9C0001;
  color: #fff;
}

.faq-item.active .faq-icon {
  background: #fff;
  color: #9C0001;
}

.faq-answer {
  padding: 14px 16px;
  font-size: 13px;
  line-height: 1.8;
  color: #555;
  background: #fff;
}

.faq-image {
  width: 45%;
}

.faq-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* ---FOOTER--- */
.site-footer {
  background: #440001;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.site-footer::before,
.site-footer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #9C0001;
  z-index: 0;
}

.site-footer::before {
  width: 325px;
  height: 325px;
  top: -140px;
  right: -140px;
}

.site-footer::after {
  width: 325px;
  height: 325px;
  bottom: -130px;
  left: -130px;
}

.site-footer>* {
  position: relative;
  z-index: 1;
}

.footer-top {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.footer-logo img {
  height: 50px;
}

.footer-logo span {
  display: block;
  color: #ffc107;
  font-weight: 600;
  margin-top: 4px;
}

.footer-desc {
  margin: 20px auto 40px;
  line-height: 1.5;
  max-width: 910px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.contact-item {
  display: flex;
  gap: 14px;
  align-items: center;
  text-align: left;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-circle img{
  height: 22px;
  width: 22px;
}

.footer-divider1 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

.footer-divider2 {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 40px 50px 10px;
}

.footer-middle {
  padding: 0 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-col h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-col ul {
  margin-left: 15px;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-map img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}

.footer-bottom {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  margin-right: 14px;
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background: #9C0001;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    padding: 12px 16px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 14px;
  }

  .hero-banner {
    height: 260px;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 13px;
    line-height: 1.6;
  }

  .about-hero {
    padding: 30px 16px;
  }

  .about-title {
    font-size: 26px;
  }

  .about-desc {
    font-size: 13px;
  }

  .what-we-do,
  .what-we-offer,
  .why-content,
  .community-row,
  .faq-section {
    flex-direction: column;
    padding: 30px 16px;
    gap: 24px;
  }

  .what-content,
  .what-image,
  .offer-content,
  .offer-image,
  .why-features,
  .why-image,
  .community-content,
  .community-image,
  .faq-left,
  .faq-image {
    width: 100%;
  }

  .what-title {
    white-space: normal;
    font-size: 24px;
  }

  .offer-title,
  .why-title,
  .community-title,
  .faq-title {
    font-size: 26px;
  }

  .what-desc,
  .offer-desc,
  .community-content p,
  .why-subtitle {
    font-size: 13px;
    line-height: 1.6;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .footer-contacts,
  .footer-middle,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .footer-middle {
    padding: 0 16px;
  }

  .footer-map img {
    width: 100%;
    height: auto;
  }

  .footer-divider2 {
    margin: 30px 16px 10px;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .navbar {
    padding: 15px 30px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .what-we-do,
  .what-we-offer,
  .why-content,
  .community-row,
  .faq-section {
    padding: 40px 30px;
    gap: 40px;
  }

  .what-content,
  .offer-content,
  .why-features,
  .community-content,
  .faq-left {
    width: 55%;
  }

  .what-image,
  .offer-image,
  .why-image,
  .community-image,
  .faq-image {
    width: 45%;
  }

  .what-title,
  .offer-title,
  .why-title,
  .community-title,
  .faq-title {
    font-size: 30px;
    white-space: normal;
  }

  .footer-middle {
    flex-wrap: wrap;
  }
}





/* @media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
    padding: 15px 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
  }

  .hero-banner {
    height: 280px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content p {
    font-size: 13px;
  }

  .what-we-do,
  .what-we-offer,
  .why-content,
  .community-row,
  .faq-section {
    flex-direction: column;
    padding: 30px 20px;
  }

  .what-content,
  .offer-content,
  .why-features,
  .community-content,
  .faq-left {
    width: 100%;
  }

  .what-image,
  .offer-image,
  .why-image,
  .community-image,
  .faq-image {
    width: 100%;
  }

  .what-title,
  .offer-title,
  .why-title,
  .community-title,
  .faq-title,
  .about-title {
    font-size: 26px;
    white-space: normal;
  }

  .footer-contacts,
  .footer-middle,
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-map img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 991px) {

  .navbar {
    padding: 15px 30px;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .what-we-do,
  .what-we-offer,
  .why-content,
  .community-row,
  .faq-section {
    gap: 40px;
    padding: 40px 30px;
  }

  .what-title,
  .offer-title,
  .why-title,
  .community-title,
  .faq-title {
    font-size: 30px;
  }

  .footer-middle {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {

  .navbar {
    padding: 15px 40px;
  }

  .what-we-do,
  .what-we-offer,
  .faq-section {
    padding: 50px 40px;
  }

  .hero-content h1 {
    font-size: 38px;
  }
} */